.titulo{
    background-color: #698269;
    font-family: Garamond, serif;
    font-size: 100px;
    justify-content: center;
}
.menu{
    background: #B99B6B;
    padding: 20px;
    justify-content: space-around;

}
a{
    font-family: Garamond, serif;
    color: #65647C;
    display:flexbox;
    text-decoration: none;
    justify-content: space-around;
}
table{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #9E7676;

}
p{
    font-family: fantasy;
    color: #9E7676;

}
section{
    background: #F1DBBF;
}
.unic{
    font-family: Garamond, serif;
    color: #65647C;
    display:flexbox;
    justify-content: space-around; 
}