.fondo{
    background-image: url(2.jpg);
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
nav{
  display: flex;
  justify-content: space-between;  
}
.tab{
    display: flex;
    place-content: right;
}
.nav-boton{
  background: #B99B6B;
  color: burlywood;
  padding: 10px 0;
 
  display: none;
}
@media(max-width: 600px){
  .facet_sidebar{
      display:none;
  }

  nav{
      background: rgb(73, 4, 4);
      flex-direction: column;
  }
  .nav.enlace{
      margin: 10px 0px;
  }
  .nav-boton{
      display: inline-block;

  }
  .desaparece{
      display: none;
  }
}